#ch{
    width: 100px;
    height: 100px;
    background: crimson;
    transition: 500ms;
    position: absolute;bottom: 25px;
}
.c{
    position: absolute;left:200%;
    width: 10px;
    height: 10px;
    background: indianred;
}